.container{
  height: 100%;
  padding-top: 41px;
  .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    .first{
      font-size: 12px;
    }
    .second{
      font-size: 15px;
    }
  }
}