
::ng-deep .card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .imagen{
        width: 215px;
        height: 215px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        background: #cb968182;
    }
    img{
        width: 80%;
        object-fit: contain;
    }
    
}
swiper{
    height: 500px;
    color: rgba(0, 0, 0, 0.548);
}
h1{
    margin-top: 60px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
p{
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}