<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>ruta 1</ion-col>
          <ion-col>ruta 1</ion-col>
          <ion-col>ruta 1</ion-col>
        </ion-row>
      </ion-grid>
      <ion-item detail="true" detail-icon="search-outline">
        <ion-input aria-label="Custom input" placeholder="Custom input" [counter]="true"></ion-input>
      </ion-item>
    </ion-card-header>
    

    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>