ion-input.custom {
    --color: #fff;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    --border-radius: 20px;
    --display: block;

}

ion-input.custom .helper-text,
ion-input.custom .counter {
    color: var(--ion-color-step-700, #373737);
}

ion-item {
    --background: #373737;
    --border-radius: 20px;
    margin-bottom: 1rem;
}

ion-col {
    background-color: #000000;
    color: #fff;
    margin-left: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;

}

.zone-pills{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 1rem;
    .pill{
        cursor: pointer;
        width: fit-content;
        padding: 10px .8rem;
        white-space: nowrap;
        background: #fff;
        border-radius: 40px;
        color: #000;
    }
}

::-webkit-scrollbar {
    display: none;
  }
  

.separacion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    margin-top: 1rem;
}
capacitor-google-map {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}