<section>
  <div class="mapa">
  </div>
  <div class="zone-pills">
    <div class="pill one">Zona Centro</div>
    <div class="pill two">Zona Hotelera</div>
    <div class="pill three">Zona Sur</div>
  </div>
  <div class="routes">
    <div class="price">
      <h2>Precio: $12 Pesos</h2>
      <hr class="line">
      <!-- <span class="line"></span> -->
    </div>
    <div class="swiper-routes">
      <swiper [slidesPerView]="2" [spaceBetween]="0">
        <ng-container *ngFor="let route of routes; index as i">
          <ng-template swiperSlide>
            <div class="card">
              <div class="title">
                {{ route.route }} 
              </div>
              <div class="subtitle">
                {{ route.scheduCompany }}  {{ route.scheduCompany2 }} 
              </div>
              
              <ion-grid>
                <ion-row>
                  <ion-col size="auto" *ngFor="let star of stars; let i = index;">
                    <ion-icon
                      [name]="star.icon"
                      [color]="star.color"
                      (click)="toggleStar(i)"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>  
              <div class="hours-date">
                <p>Lunes a Domingo {{ route.scheduleStart }} a {{ route.scheduleEnd }}</p>
              </div>

              <div class="zone-pills-v2">
                <div class="text-sub">Paraderos</div>
                <div  class="text-sub-v2">Semaforos</div>
              </div>

              <div class="text-sub-v21">Paradero 1</div>
              <div class="text-sub-v21">Paradero 2</div>
              <div class="text-sub-v21">Paradero 3</div>

            </div>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
  </div>
</section>