
<ion-content class="ion-padding">
 
<ion-toolbar>
  
  <ion-buttons slot="end">
    <ion-button color="danger" > Skip </ion-button>
  </ion-buttons>
</ion-toolbar>
<app-carrusel></app-carrusel>
<p>
 Registre y mejora la calidad de tu movilidad

</p>
<ion-segment value="default">
  <ion-segment-button value="default" class="segment-button-Sign">
    <ion-label>Registrate</ion-label>
  </ion-segment-button>
  <ion-segment-button value="segment" class="segment-button-Login">
    <ion-label>Iniciar Sesión</ion-label>
  </ion-segment-button>
</ion-segment>

</ion-content>
