
.textColor{
    color: var(--primaryOrange);
    font-family: Montserrat;
   
}
.textTitle{
color: var(--darkBlue);
text-align: center;
font-family: Montserrat;
}

.containerP{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:wrap;
    margin-right: 1rem;
    text-align: center;

}
.colorB{
    background-color: var(--light);
    border-radius: 10px;
    height: 35px;
    margin-bottom: 1rem;

    align-items: center;

}

.toggle-container {
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
}
