<ion-content>
  <h1 class="textTitle">Configuración</h1>
  <div class="clase">
    <button class="containerP colorB">
        <ion-label class="textColor">Editar Perfil<ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
    </button>
    <button class="containerP colorB">
      <ion-label class="textColor">Viajes <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
    </button>
    <select name="lenguajes" id="lang" class="containerP colorB textColor">
      <option value="selecciona" class="textColor">Idioma</option>
      <option value="spanish" class="textColor">Español</option>
      <option value="english" class="textColor">Ingles</option>
    </select>
  <div class=" toggle-container">
    <div class="toggle-text">
        <ion-label class="textColor">Modo claro</ion-label>
    </div>
    <div class="toggle">
        <ion-toggle></ion-toggle>
    </div>
  </div>
  </div>
</ion-content>
