<ion-content>
  <h1 class="textTitle">Configuración</h1>
  <div class="container">
    <button class="containerP colorB">
        <ion-label class="textColor">Editar Perfil<ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
    </button>
    <button class="containerP colorB">
      <ion-label class="textColor">Viajes <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
    </button>
  <button class="containerP colorB">
    <ion-label class="textColor">Cambio de Idioma<ion-icon name="chevron-down-outline"></ion-icon></ion-label>
  </button>
  <div class=" toggle-container">
    <div class="toggle-text">
        <ion-label class="textColor">Modo claro</ion-label>
    </div>
    <div class="toggle">
        <ion-toggle></ion-toggle>
    </div>
  </div>
  </div>
</ion-content>
