/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./assets/presets/containers.scss";
@import "./assets/presets/fonts.scss";
@import "./assets/presets/form-styles.scss";

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/effect-fade";
/* global color */
:root {
    --primaryOrange: #EA5A44;
    --secondaryOrange: #CB9681;
    --darkBlue: #323D4D;
    --backgroung: #EDE8D1;
    --buttonSelect:#A7C6D9;
    --letterDark:#FFFFFF;
    --light:#F2F2F2;
    


}

.md body {
    --ion-background-color: #EDE8D1;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-item-background: #EDE8D1;
    --ion-toolbar-background: #EDE8D1;
    --ion-tab-bar-background: #EDE8D1;
    --ion-card-background: #EDE8D1;
    --ion-text-color: #000;
    --ion-text-color-rgb: 0, 0, 0;
    --ion-background-color: #323D4D;
}

@media (prefers-color-scheme: dark) {
    .md body {
        --ion-text-color: #fff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-background-color: #323D4D;
        --ion-background-color-rgb: 18, 18, 18;
        --ion-item-background: #323D4D;
        --ion-toolbar-background: #323D4D;
        --ion-tab-bar-background: #323D4D;
        --ion-card-background: #323D4D;
    }
}